<div class="about-numbers">
    <div class="about-numbers__inner">
        <div class="about-numbers__contain">
            <div class="about-numbers__list">
                <div class="about-numbers__col">
                    <p><strong>50/50</strong></p>
                    <p>Наша цель - баланс остроты и долговечности</p>
                </div>
                <div class="about-numbers__col">
                    <p><strong>20+</strong></p>
                    <p>Работают мастера с более чем 20 летним опытом</p>
                </div>
                <div class="about-numbers__col">
                    <p><strong>30%</strong></p>
                    <p>Регулярность выгодна: Снижение расходов на заточку до 30%</p>
                </div>
                <div class="about-numbers__col">
                    <p><strong>%</strong></p>
                    <p>Обеспечим доставку по минимальной цене.</p>
                </div>
                <div class="about-numbers__col">
                    <p><strong>NEW</strong></p>
                    <p>Применение современных станков и материалов.</p>
                </div>
            </div>
        </div>
    </div>
</div>
