<div class="why">
    <div class="why__inner">
        <h2 class="why__title section-title">Почему мы?</h2>
        <div class="why__contain section-contain">
            <div class="why__list">
                <div class="why__item">
                    <div class="why__item-info">
                        <p class="why__item-title">Команда</p>
                        <p class="why__item-text">
                            Наша команда состоит из опытных специалистов в области заточки и ремонта инструмента, которые прошли профессиональное обучение и постоянно повышают свою квалификацию.
                        </p>
                    </div>
                </div>
                <div class="why__item">
                    <div class="why__item-info">
                        <p class="why__item-title">
                            Индивидуальный подход
                        </p>
                        <p class="why__item-text">
                            Мы учитываем особенности каждого клиента и его задачи, чтобы предложить наиболее эффективное решение.
                        </p>
                    </div>
                </div>
                <div class="why__item">
                    <div class="why__item-info">
                        <p class="why__item-title">Качество и надежность</p>
                        <p class="why__item-text">
                            Мы используем только высококачественные материалы и проверенные технологии, чтобы обеспечить надежность и долговечность заточенных предметов.
                        </p>
                    </div>
                </div>
                <div class="why__item">
                    <div class="why__item-info">
                        <p class="why__item-title">Широкий спектр услуг</p>
                        <p class="why__item-text">
                            Мы заточим и отремонтируем не только ножи, но и другие острые предметы, такие как ножницы, маникюрные инструменты, инструменты для стрижки животных и многое другое.
                        </p>
                    </div>
                </div>
                <div class="why__item">
                    <div class="why__item-info">
                        <p class="why__item-title">Удобство и доступность</p>
                        <p class="why__item-text">
                            Мы предлагаем широкий выбор способов оплаты и доставки, а также работаем с клиентами по всей стране.
                        </p>
                    </div>
                </div>
                <div class="why__item">
                    <div class="why__item-info">
                        <p class="why__item-title">Удобство и доступность</p>
                        <p class="why__item-text">
                            Мы предлагаем широкий выбор способов оплаты и доставки, а также работаем с клиентами по всей стране.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
