<div class="why">
    <div class="why__inner">
        <h2 class="why__title section-title">
            Почему нужно затачивать именно у нас?
        </h2>
        <div class="why__contain section-contain">
            <div class="why__list">
                <div class="why__item">
                    <div class="why__item-info">
                        <p class="why__item-title">Профессиональный подход</p>
                        <p class="why__item-text">
                            Мы всегда оказываем всем нашим клиентам полный
                            спектр профессиональных услуг по заточке,
                            восстановлению внешнего вида и поддержанию остроты
                            ваших ножей и самого широкого спектра других
                            инструментов.
                        </p>
                    </div>
                </div>
                <div class="why__item">
                    <div class="why__item-info">
                        <p class="why__item-title">Забота о ваших ресурсах</p>
                        <p class="why__item-text">
                            Наши услуги по регулярной заточке и восстановлению
                            остроты позволяют вам существенно сэкономить деньги,
                            нервы и время, за счет высокого качества
                            предоставляемых нами услуг, а также скидок, акций и
                            выгодной
                            <a href="{{ 'akcii' | page }}" target="_blank" class="why__item-text-link">
                                <span>абонементной программы</span>
                            </a>
                            .
                        </p>
                    </div>
                </div>
                <div class="why__item">
                    <div class="why__item-info">
                        <p class="why__item-title">Репутация на первом месте</p>
                        <p class="why__item-text">
                            Наша компания всегда ревностно следит за качеством
                            выполняемых работ и предоставляет всеобъемлющие
                            гарантии на свои услуги по заточке.
                        </p>
                    </div>
                </div>
                <div class="why__item">
                    <div class="why__item-info">
                        <p class="why__item-title">Широкий спектр услуг</p>
                        <p class="why__item-text">
                            Мы заточим и отремонтируем не только ножи, но и
                            другие острые предметы, такие как ножницы,
                            маникюрные инструменты, инструменты для стрижки
                            животных и многое другое.
                        </p>
                        <p class="why__item-text">
                            Кроме того, мы предлагаем заточку, ремонт и
                            восстановление остроты для широкого спектра
                            стамесок, столярных топоров, колунов, ножей рубанков
                            и фуганков, а также изменение формы режущих частей и
                            углов заточки режущих кромок инструмента (по
                            согласованию).
                        </p>
                        <p class="why__item-text">
                            Для маникюрных и косметических инструментов мы
                            предоставляем только профессиональные услуги по
                            заточке, полировке и устранению люфтов в
                            инструментах. Мы приведем в должное состояние
                            пинцеты для бровей и наращивания ресниц, книпсеры,
                            ножницы для стрижки, горячие ножницы, ножницы с
                            микронасечкой и т.д.
                        </p>
                        <p class="why__item-text">
                            Если у вас есть животные, мы также предлагаем услуги
                            по заточке когтерезов. Если ваши ножницы потеряли
                            упругость, мы можем провести ремонт упругого
                            элемента кусачек, а также мы предлагаем услуги по
                            восстановлению положения ручек кусачек для тех
                            моделей, которые это позволяют выполнить (без
                            гарантии).
                        </p>
                        <p class="why__item-text">
                            Наконец, мы предлагаем услуги по заточке и
                            восстановлению остроты ножей для пиццы, ножей и
                            решеток мясорубок, канцелярских и портновских
                            ножниц, а также заточку круглых ножей для
                            электрических слайсеров и ножей для пиццы диаметром
                            до 10 см.
                        </p>
                    </div>
                </div>
                <div class="why__item">
                    <div class="why__item-info">
                        <p class="why__item-title">Удобство и доступность</p>
                        <p class="why__item-text">
                            Мы предлагаем широкий выбор способов оплаты и
                            доставки, а также работаем с клиентами по всей
                            стране.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
