.oplata {
    &__qr {
        display: flex;
        grid-gap: 120px;

        &-container {
            display: flex;
            flex-direction: column;

        }

        &-text {
            font-size: 12px
        }

        &-image {
            width: 270px;
            height: auto;
        }
    }
}

@media(max-width: 768px) {
    .oplata {
        &__qr {
            display: flex;
            flex-direction: column;
            grid-gap: 60px;
        }
    }
}