url = "/zatochka-manikurnogo-instrumenta"
layout = "default"
title = "Заточка маникюрного инструмента в компании "Время точить""
meta_title = "Заточка маникюрного инструмента в компании "Время точить""
meta_description = "Надежная заточка маникюрных инструментов - это наша специализация! Доверьте свои инструменты профессионалам компании Время точить и наслаждайтесь качественным маникюром без риска порезов и травм"

[resources]
vars[isService] = 'zatochka-manikurnogo-instrumenta'
==

<main class="page-main page-seo">
    <div class="breadcrumbs breadcrumbs--service page-seo__breadcrumb">
        <div class="breadcrumbs__inner">
            <div class="breadcrumbs__contain">
                <div class="breadcrumbs__item">
                    <a href="{{ 'index'|page }}" class="breadcrumbs__link">
                        <span class="breadcrumbs__text">Главная</span>
                    </a>
                </div>

                <div class="breadcrumbs__item">
                    <span class="breadcrumbs__text">
                        Заточка маникюрного инструмента
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="jumbotron page-serm__jumbotron">
        <div class="jumbotron__inner">
            <h1 class="jumbotron__title">Заточка маникюрного инструмента</h1>
            <p class="jumbotron__subtitle">
                Создавайте безупречный маникюр с помощью заточенного нами
                инструмента - пользуйтесь профессиональной заточке от компании
                «Время точить»! Мы всегда добиваемся идеальных результатов
                заточки, поэтому вы получаете постоянных довольных клиентов!
            </p>
            <div class="jumbotron__callback">
                <a
                    href="javascript:void(0)"
                    class="btn btn--primary btn--medium"
                    data-modal-form-desc="Первый экран, страница заточки маникюрного инструмента"
                    data-uk-modal="{target:'#modal-callback'}"
                >
                    Заказать заточку
                </a>
            </div>
        </div>
    </div>
    <div class="seo-advancement seo-advancement--padding2">
        <div class="seo-advancement__inner">
            <h2 class="seo-advancement__title section-title">
                Стоимость заточки маникюрного инструмента
            </h2>
            <div class="seo-advancement__contain section-contain">
                <div class="dev__wrapper">
                    <span class="dev__item-actual">
                        Актуально с: 1 января 2024 года
                    </span>
                    <a 
                        href="https://timesharp.ru/storage/app/media/price/01012024.xlsx" 
                        download
                        class="dev__item-price"
                    >
                        Скачать прайс Excel
                    </a>
                    <div class="dev__item">
                        <span class="dev__item-actual dev__item-actual--red">
                            Наша компания временно не затачивает кусачки!
                        </span>
                        <table>
                            <thead>
                                <tr>
                                    <th>
                                        Наименование затачиваемого инструмента
                                    </th>
                                    <th>Цена, ₽/шт</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Ножницы кутикульные</td>
                                    <td>250</td>
                                </tr>
                                <!-- <tr>
                                    <td>Кусачки кутикульные, L< 9 мм</td>
                                    <td>300</td>
                                </tr>
                                <tr>
                                    <td>Кусачки кутикульные, L ≥ 9 мм.</td>
                                    <td>350</td>
                                </tr>
                                <tr>
                                    <td>Кусачки кутикульные, L≥ 13 мм</td>
                                    <td>400</td>
                                </tr>
                                <tr>
                                    <td>
                                        Кусачки кутикульные типа "топорики"
                                    </td>
                                    <td>450</td>
                                </tr>
                                <tr>
                                    <td>Кусачки ногтевые прямые</td>
                                    <td>350</td>
                                </tr>
                                <tr>
                                    <td>Кусачки ногтевые изогнутые</td>
                                    <td>380</td>
                                </tr>
                                <tr>
                                    <td>Кусачки для вросшего ногтя</td>
                                    <td>400</td>
                                </tr> -->
                                <tr>
                                    <td>Ножницы ногтевые</td>
                                    <td>300</td>
                                </tr>
                                <tr>
                                    <td>Ножницы пружинные (твизеры)</td>
                                    <td>350</td>
                                </tr>
                                <tr>
                                    <td>Ножницы для кутикулы с крючком</td>
                                    <td>480</td>
                                </tr>
                                <tr>
                                    <td>
                                        Маникюрные лопатки (пушеры, шаберы) с
                                        одной стороны
                                    </td>
                                    <td>120</td>
                                </tr>
                                <tr>
                                    <td>
                                        Маникюрные лопатки (пушеры, шаберы) с
                                        двух сторон
                                    </td>
                                    <td>180</td>
                                </tr>
                                <tr>
                                    <td>Пинцеты для бровей</td>
                                    <td>250</td>
                                </tr>
                                <tr>
                                    <td>Пинцеты для наращивания ресниц</td>
                                    <td>350</td>
                                </tr>
                                <tr>
                                    <td>Книпсер (клиппер)</td>
                                    <td>350</td>
                                </tr>
                                <tr>
                                    <td>
                                        Ремонт упругого элемента (лапки) кусачек
                                    </td>
                                    <td>150</td>
                                </tr>
                                <tr>
                                    <td>
                                        Механическое удаление нагара и коррозии
                                    </td>
                                    <td>от 50</td>
                                </tr>
                                <tr>
                                    <td>
                                        Восстановление положения ручек кусачек
                                        (без гарантии)
                                    </td>
                                    <td>400</td>
                                </tr>
                                <tr>
                                    <td>Кусачки радиусные для кожи</td>
                                    <td>550</td>
                                </tr>
                                <tr>
                                    <td>Замена соединения (все детали в комплекте)</td>
                                    <td>150</td>
                                </tr>
                                <tr>
                                    <td>
                                        Изменение формы режущих губок
                                        инструмента (по согласованию)
                                    </td>
                                    <td>от 350</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="dev__item-table-desc">
                            <strong>Дополнительно:</strong>
                            <ul>
                                <li>
                                    Смазка: 20 ₽/шт.
                                </li>
                                <li>
                                    Изменение/выравнивание угла заточки, исправление глубоких дефектов:  +35%
                                </li>
                            </ul>
                        </div>
                        <p>
                            <a
                                href="javascript:void(0)"
                                class="dev__btn btn btn--primary"
                                data-modal-form-desc="страница заточки ножниц"
                                data-uk-modal="{target:'#modal-callback'}"
                            >
                                Заказать заточку
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
