.socials {
  display: flex;
  flex-direction: column;
  grid-gap: 12px;
  margin-top: 12px;

  > li {
    display: flex;
    align-items: center;
    grid-gap: 24px;
    
    > a {
      display: flex;

      > svg {
        height: 40px;
        width: 40px;
      }
    }
  }
}