url = "/portfolio/:slug"
layout = "default"
title = "Детальная страница портфолио"
meta_title = "{{ portfolioWork.seo_title }}"
meta_description = "{{ portfolioWork.seo_description }}"
meta_keywords = "{{ portfolioWork.seo_keywords }}"

[section portfolioWork]
handle = "Portfolio\Work"
entrySlug = "{{ :slug }}"

[collection portfolioWorks]
handle = "Portfolio\Work"
==
<?php
function onStart() {
    $this['formHelper'] = new \Sabr\Toolbox\Helpers\FormHelper;
}
?>
==

{% put meta_keywords %}
    {{ portfolioWork.seo_keywords }}
{% endput %}

{% if portfolioWork is empty %}
    {% do abort(404) %}
{% endif %}

{% set morePosts = portfolioWorks.whereNot('id', portfolioWork.id).paginate(3) %}

<main class="page-main page-seo">
    <div class="breadcrumbs breadcrumbs--service page-seo__breadcrumb">
        <div class="breadcrumbs__inner">
            <div class="breadcrumbs__contain">
                <div class="breadcrumbs__item">
                    <a href="{{ 'index'|page }}" class="breadcrumbs__link">
                        <span class="breadcrumbs__text">Главная</span>
                    </a>
                </div>

                <div class="breadcrumbs__item">
                    <a href="{{ 'journal/index' | page }}" class="breadcrumbs__link">
                        <span class="breadcrumbs__text">Журнал</span>
                    </a>
                </div>

                <div class="breadcrumbs__item">
                    <span class="breadcrumbs__text">{{ portfolioWork.title }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="jumbotron case__portfolio">
        <div class="jumbotron__inner">
            <h1 class="jumbotron__title">
                 {{ portfolioWork.title }}
            </h1>
        </div>
    </div>
    <div class="detail__wrapper">
        {% set publishedDate = portfolioWork.published_at is not empty ? portfolioWork.published_at : portfolioWork.created_at %}
        <!-- <div class="detail__time">{{ publishedDate | date('d.m.Y') }}</div> -->
        {{ portfolioWork.content | raw }}
    </div>
    {% if morePosts is not empty %}
    <div class="clients__wrapper--gray">
        <div class="clients__wrapper">
            <div class="case__similar">Еще записи</div>
            {% for post in morePosts %}
                {% partial 'portfolio/portfolio-card' work=portfolioWork %}
            {% endfor %}
        </div>
        <a href="{{ 'journal/index' | page }}" class="btn btn--outline btn--medium about__detailed-btn">ВСЕ ЗАПИСИ</a>
    </div>
    {% endif %}
    {% partial 'forms/callback' %}
</main>